*{
    margin: 0; /*todos os lados*/
    padding: 0;
}

#titulo{   /*seleciona o IDtitulo*/
       font-family: sans-serif;
       color: blueviolet;
       margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: blueviolet;
    margin-left: 10%;
}
fieldset{ /*sao tags*/
    border: 0;
}
body{
    background-color: azure;
    font-family: sans-serif;
    font-size: 1em;
    color: blueviolet;
    margin-left: 16%;
    margin-top: 2%;
    justify-content: center;
}

input,select,textarea,button{ /*colocaUmaBorda em cada um desses.*/
    border-radius: 5px;

}
.campo{ /*seleciona a classe*/
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color:blueviolet;
    display: block;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;

}
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: blueviolet;
}
.botao{
    font-size: 1.2 em;
    background-color: rgb(4, 102, 69);
    border: 0;
    margin-bottom:  1em;
    color:aliceblue;
    padding: 0.2em 0.6em;
    box-shadow: 2px, 2px,2px rgba(0,0,0,0.2);
    text-shadow: 1px,1px,1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.botao:hover{
    background: #ccbbff;
    box-shadow: insert 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
#check{  /*pegou o id de check*/
    display: inline-block;
}
